.container{
    display: flex;
}
.ExamComponent{
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 25%;
}
.Exam_name_logo {
    display: flex;
    align-items: center;
}
.Logo {
    width: 50px; /* Adjust the size according to your design */
    height: 50px; /* Adjust the size according to your design */
    margin-right: 15px;
}
.Exam_name{
    font-weight: bold;
}
.examtagline{
    font-weight: normal;
}
